<?xml version="1.0"?>
<?xml-stylesheet type='text/xsl' href='style.xsl'?>
<Menuitems>
	<Menuitem>
	<!--1. machine details-->
	<Displayname>Control Panel</Displayname>
	<Application>c:\windows\system32\control.exe</Application>
	<Arguments></Arguments>
	<Menulocation>RawContent</Menulocation>
	</Menuitem>
	<Menuitem>
	<!--2. machine details-->
	<Displayname>Ping</Displayname>
	<Application>ping</Application>
	<Arguments>127.0.0.1</Arguments>
	<Menulocation>RawContent</Menulocation>
	</Menuitem>
	<!--3. machine details-->
	<Menuitem>
	<Displayname>Log-off</Displayname>
	<Application>shutdown</Application>
	<Arguments>/l /f</Arguments>
	<Menulocation>RawContent</Menulocation>
	</Menuitem>	
</Menuitems>	
	